src/*.so 

Android test app/SensorAndConnectionTest/bin/*
Android test app/SensorAndConnectionTest/build.xml
Android test app/SensorAndConnectionTest/gen/R.java.d
Android test app/SensorAndConnectionTest/libs/android-support-v7-appcompat.jar
Android test app/SensorAndConnectionTest/local.properties
Android test app/SensorAndConnectionTest/project.properties
