src/*.so 

Android test app/SensorAndConnectionTest/bin/*
Android test app/SensorAndConnectionTest/build.xml
Android test app/SensorAndConnectionTest/gen/*
Android test app/SensorAndConnectionTest/libs/*
Android test app/SensorAndConnectionTest/local.properties
Android test app/SensorAndConnectionTest/project.properties
Android test app/SensorAndConnectionTest/build.sh

src/*.sh
src/test

